@{
    ViewData["Title"] = "Početna";
}
<div class="p-5 bg-light rounded-3">
    <h1>MB Studio</h1>
    <p class="lead">Zakazivanje konsultacija za usluge digitalnog marketinga.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Zakazivanje" asp-action="Index">Zakaži konsultaciju</a>
    <a class="btn btn-outline-secondary btn-lg" asp-controller="Nalog" asp-action="Login">Prijava za zaposlene</a>
</div>
